
{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        {{ form(form, {'action': path('new'), 'method': 'POST'}) }}

            {% set messages = app.session.getFlashBag.get('message') %}
            {% if messages  %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        {{ message|raw }}
                    {% endfor %}
                </div>
            {% endif %}

            {{ form_row(form._token) }}
            {% block form_row %}
                {% if errors|length > 0 %}
                <div class="form-group has-error has-feedback">
                {% else %}
                <div class="form-group">
                {% endif %}
                {{- form_errors(form) -}}
                {{- form_widget(form) -}}
            </div>
            {% endblock form_row %}

        </form>
    </div>
{% endblock content %}